.header {
    width: 100%;
    background: #24292e;
}
            
.logoWrap {
    margin: 0 25px;
}
            
.logo {
    max-height: 100px;
}
            
.logo:hover,
.logo:focus {
    opacity: .5;
    outline: none;
}
            
.logo img {
    height: 100px;
    max-height: 100%;
}

@media (max-width: 480px) {
    .logo img {
        height: 75px;
    }
}