html,body {
    height: 100%;
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3;
    background: #efefbb;
    background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd);
    background: linear-gradient(to right, #efefbb, #d4d3dd);
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

img {
    align-self: center;
}
.wrapper,
main {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

              /* SEARCH PAGE */

.search-inner {
    padding: 150px 15px 50px 15px;
    text-align: center;
}

.main-title {
    color: #24292e;
    text-transform: uppercase;
    font-weight: 400;
}

.search-input-wrap {
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 10px 15px 10px 35px;
    width: 100%;
    max-width: 400px;
    border: 1px solid transparent;
    border-radius: 40px 0 0 40px;
    color: #24292e;
}

.search-input:focus {
    border-color: #24292e;
    transition: .5s;
}
.search-btn {
    padding: 10px 35px 10px 30px;
    color: #fff;
    text-transform: uppercase;
    background: #24292e;
    border: none;
    border-radius: 0 50px 50px 0;
}

.search-btn:hover,
.search-btn:focus {
    background: #111213;
    transition: .5s;
}

.search-results-list {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 0;
}

.search-result-item {
    padding-bottom: 10px;
    text-transform: capitalize;
}

.search-result-link {
    color: #24292e;
    font-weight: 700;
    outline: none;
}

.search-result-link:hover,
.search-result-link:focus {
    color: #000;
    transform: scale(1.2);
    transition: .5s;
    outline: none;
}

.search-result-link:visited {
    color: #94939b;
}

@media (max-width: 580px) {
    .main-title {
        font-size: 20px;
    }
}

@media (max-width: 420px) {
    .search-inner {
        padding: 70px 15px;
    }
    .search-btn {
        padding: 5px 25px 5px 20px;
        font-size: 16px;
    }

    .search-input {
        padding: 5px 10px 5px 20px;
        font-size: 16px;
    }

    .search-result-link {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .main-title {
        font-size: 16px;
    }
}

            /* OrgPage */

.page-inner {
    padding: 20px 15px;
}

           /* OrgInfo */

.info-wrap {
    display: flex;
}

.info {
    width: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-right: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.title {
    font-size: 40px;
    color: #24292e;
}

.desc {
    padding: 15px 0;
    font-size: 24px;
    color: #4e4e55;
}

.info-list {
    display: flex;
    padding: 10px 0;
}

.info-item {
    color: #24292e;
    font-size: 18px;
    margin-right: 30px;
}

.verifed {
    width: 100%;
    max-width: 70px;
    max-height: 20px;
    color: #088b08;
    padding: 0 10px;
    border: 1px #088b08 solid;
    border-radius: 2px;
    text-align: center;
}

.members-wrap,
.members-list {
    padding: 50px 0;
}

.users-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.user-item {
    width: 100%;
    max-width: 290px;
    display: flex;
    padding: 25px 0;
}

.members-list .user-item:last-child {
    margin-right: 0;
}

.user-avatar {
    width: 100%;
    max-width: 100px;
    margin-right: 25px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-title {
    color: #24292e;
    font-size: 20px;
    cursor: pointer;
}

.user-link {
    padding: 5px 0;
    color: #24292e;
    font-size: 18px;
    text-transform: capitalize;
}

.user-title:hover,
.user-link:hover,
.repos-item-link:hover,
.folow-item-link:hover,
.title-link {
    color: #000;
    text-decoration: underline;
    transition: .5s;
}

.user-title:visited,
.user-link:visited,
.repos-item-link:visited,
.folow-item-link:visited,
.title-link {
    color: #94939b;
}

.view-all-wrap {
    width: 100%;
    padding: 25px 0;
}

.view-all-wrap .user-link {
    text-transform: uppercase;
}

.repos-list {
    padding: 10px 0;
}

.repos-item {
    padding-bottom: 5px;
}

.repos-item-link {
    padding: 5px 0;
    color: #24292e;
    font-size: 24px;
    text-transform: capitalize;
}

@media (max-width: 820px) {
    .desc {
        font-size: 20px;
    }

    .info-list {
        padding: 5px 0;
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    .members-list,
    .members-wrap {
        padding: 25px 0;
    }
    .desc,
    .info-item,
    .verifed {
        font-size: 14px;
    }

    .title {
        font-size: 30px;
    }

    .desc {
        padding: 10px 0;
    }

    .verifed {
        max-width: 50px;
        padding: 0;
    }
}

@media (max-width: 420px) {
    .logo {
        margin-right: 15px;
    }

    .title {
        font-size: 20px;
    }

    .user-title,
    .user-link {
        font-size: 18px;
    }

    .user-item {
        padding: 15px 0;
    }

    .repos-item-link {
        font-size: 20px;
    }
}

/* UserPage */

.folow-wrap {
    display: flex;
    flex-wrap: wrap;
}

.folow-item {
    padding: 10px 0;
    margin-right: 20px;
}

.folow-item-link {
    color: #24292e;
    font-size: 20px;
}

.user-page-inner .repos-wrap {
    padding: 50px 0;
}

@media (max-width: 480px) {
    .user-page-inner .repos-wrap {
        padding: 25px 0;
    }

    .folow-item {
        padding: 5px 0;
    }

    .folow-item-link {
        font-size: 14px;
    }
}

.follow-list {
    display: flex;
    flex-wrap: wrap;
}
.user-title-wrap {
    padding: 30px 0;
}

